body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f1a;
  color: white;
}

.topo {
  padding: 15px;
  text-align: center;
  background: #2b1055;
  font-weight: bold;
  font-size: 20px;
}

.logo span {
  color: #c084fc;
}

.destaque {
  position: relative;
  height: 70vh;
  background: linear-gradient(to bottom, #5e2b97, #0f0f1a);
  display: flex;
  align-items: center;
  padding: 40px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.conteudo {
  position: relative;
}

.ler {
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg,#c084fc,#7c3aed);
  color: white;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
    }
